@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #252a34;
    --secondary-color: #000;
    --background-color: #151D28;
    --accent1-color: #FFFFFF;
    --accent2-color: #dfdfdf;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    
}

header, footer {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--accent1-color);

}

body {
    background-color: var(--secondary-color);
}

main {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--accent2-color);

}

.banner img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    padding: 1rem;
}

.socials {
    text-align: center;
    padding: 0.6rem 1rem 1.5rem 1rem;

}

.socials a {
    text-decoration: none;
    padding: 0.2rem;
}

.socials a:hover img {
    transform: scale(1.2);
}

#menu::before {
	content: "☰";
    color: #fff;
}

#menu.open::before {
	content: "X";
    color: #fff;
}

.navigation {
	display: flex;
	flex-direction: column;
    background-color: var(--secondary-color);
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
    font-size: 20px;
    border: 1px solid #E5E5E5;
}

.navigation a:hover {
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1.15rem;
	right: 1rem;
}

.open a {
	display: block;
}

.navi {
    padding-top: 1rem;
}

footer p {
    text-align: center;
    padding: 0.5rem;
}

#lastModified {
    font-size: 15px;
    padding-top: 0;
}