
@media (min-width: 900px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

  
    #menu {
    	display: none;
    }

	.navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: #252a34;
        
	}
	.navigation a {
        display: block;
		flex: 1 1 100%;
        padding-left: 40px;
        padding-right: 40px;
        border: 1px solid #E5E5E5;
	}

    .navi {
        padding-top: 0;
    }

	main {
        max-width: 1000px;
        justify-content: center;    
    }
    
}
