
@media (min-width: 900px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

  
    #menu {
    	display: none;
    }

	.navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: #252a34;
        
	}
	.navigation a {
        display: block;
		flex: 1 1 100%;
        padding-left: 40px;
        padding-right: 40px;
        border: 1px solid #E5E5E5;
	}

    .navi {
        padding-top: 0;
    }

	main {
        max-width: 1400px;
        justify-content: center;    
    }

    .active {
        background-color: #000;
    }


    /* --------------------------project css----------------------------- */
    .projectsdiv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 50px;
		place-items: center; 
	}

    .g-navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    
    /* -------------------------- profiles css ---------------------------- */
    .puddin-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 50px;
		place-items: center; 
	}

}
