@media (min-width: 800px) {
	.container {
		display:grid; 
		grid-template-columns: repeat(2, 1fr); 
		grid-gap: 10px;
		padding: 10px;
		place-items: center;
	}    
}

@media (min-width: 1000px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
  
  #menu {
		display: none;
	}

	.navigation {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
	}
	.navigation a {
        display: block;
		flex: 1 1 100%;
        padding-left: 40px;
        padding-right: 40px;
	}

	main {
        max-width: 1200px;
        justify-content: center;    
    }

	.container {
		display:grid; 
		grid-template-columns: repeat(3, 1fr); 
		grid-gap: 10px;
		padding: 10px;
		place-items: center;
	
	}
    
}
