* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);

}

header, footer {
    background-color: rgb(55, 78, 37);
    padding: 1rem;

}

h1 {
    color: rgb(230, 230, 230);
	text-align: left;
    padding: 1rem;
    font-size: 25px;
}

.navigation a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(123, 123, 123);
}


main {
    max-width: 840px;
    margin: 0 auto;

}

figcaption {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    padding: 2rem;
}

.container {
    display:grid; 
    grid-template-columns: 1fr; 
    grid-gap: 25px;
    place-items: center;
}

footer {
    text-align: center;
    color: #fff;

}

#menu::before {
	content: "☰";
    color: #fff;
}

#menu.open::before {
	content: "X";
    color: #fff;
}

.navigation {
	display: flex;
	flex-direction: column;
	background-color: #333;

}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
    background-color: black;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1.8rem;
	right: 1rem;
}


.open a {
	display: block;
}


.active {
    color: rgb(254, 216, 0) !important;
}
